<div class="container mt-5">
    <h2>Liste des Clients</h2>
    <a routerLink="/customers/add" class="btn btn-primary">Ajouter un client</a>
    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Date d'inscription</th>
          <th>Abonnement Actif</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{ customer.id }}</td>
          <td>{{ customer.lastName }}</td>
          <td>{{ customer.firstName }}</td>
          <td>{{ customer.registrationDate }}</td>
          <td>{{ customer.activeSubscription ? 'Oui' : 'Non' }}</td>
          <td>
            <a [routerLink]="['/customers/edit', customer.id]" class="btn btn-warning btn-sm m-2">Modifier</a>
            <button class="btn btn-danger btn-sm  m-2" (click)="deleteCustomer(customer.id)">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  